.app {
  max-width: 550px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input {
  width: 5rem;
  font-size: 1.5rem;
  padding: 10px 0; /* Adjust padding as needed */
  border: none;
  border-bottom: 2px solid black; /* Define the line color and style */
  background-color: transparent;
  outline: none; /* Remove the default focus outline */
  transition: border-color 0.3s ease; /* Add a transition effect for the line */
}

/* Style for the input field when focused */
.input:focus {
  border-color: purple; /* Change the line color on focus */
}

.specs {
  align-self: stretch;
}

.specs > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit {
  background-color: purple;
  width: 50%;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: bold;
  cursor: pointer;
}
